openapi: 3.0.0
info:
  title: Articulation Agency API
  version: "20250515"
  description: The Articulation Agency API allows Agencies to manage their Client sites via an API.
servers:
  - url: https://api.articulationsites.com/
    description: Production API endpoint
paths:
  /agencies/{agencyId}/sites:
    get:
      summary: Lists all sites
      description: >-
        Returns a list of all sites for the agency. By default each entry is the
        site's ID. Pass `type=full` to receive the complete site object for each
        site instead.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: >-
            Set to `full` to return the complete site object for each site
            instead of just its ID.
          schema:
            type: string
            enum:
              - full
      responses:
        '200':
          description: >-
            A list of sites. Contains site IDs by default, or full site objects
            when `type=full` is supplied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sites:
                    type: array
                    items:
                      oneOf:
                        - type: integer
                          description: The site's unique identifier (default response).
                        - $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/search:
    get:
      summary: Searches for a site
      description: Searches for a site by domain.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: domain
          in: query
          required: true
          description: The domain to search for.
          schema:
            type: string
      responses:
        '200':
          description: A list of matching sites.
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_term:
                    type: string
                    description: The search term used.
                  sites:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/create:
    post:
      summary: Creates a new site
      description: Creates a new site for the agency.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      requestBody:
        description: The details of the site to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: The domain of the new site.
                email:
                  type: string
                  description: The email address of the owner of the new site.
                plan:
                  type: string
                  description: The billing plan for the new site, if applicable.
                convert_from_weebly:
                  type: boolean
                  description: If true, we'll attempt to convert the given domain's site from a currently published Weebly site, if enabled for your account.
      responses:
        '201':
          description: The newly created site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}:
    get:
      summary: Lists a site by ID
      description: Returns a single site by ID.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: A single site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
    patch:
      summary: Updates a site
      description: Updates a site's details.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to update.
          schema:
            type: string
      requestBody:
        description: The site details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan:
                  type: string
                  description: The new billing Plan for the site. Not required if ONLY changing/releasing Domain. You must have an active feature-matrix-capable Partner plan.
                  example: Ultimate
                domain:
                  type: string
                  description: The new Domain for the site. Not required if ONLY changing Plan, or releasing a domain.
                  example: example.com
                release_domain:
                  type: boolean
                  description: Releases the current Domain and unpublishes the site. Not required if either case above applies.
                domain_redirect:
                  type: string
                  description: Adds a new Domain redirect for the site.
                  example: another-domain.com
                release_domain_redirect:
                  type: string
                  description: Removes the given Domain from the site's redirected domains.
                  example: another-domain.com
      responses:
        '200':
          description: The updated site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
    delete:
      summary: Deletes a site
      description: Permanently deletes a disabled site from your account. This site MUST be disabled before calling this method.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to delete.
          schema:
            type: string
      responses:
        '204':
          description: Site was deleted successfully.
  /agencies/{agencyId}/sites/{siteId}/disable:
    put:
      summary: Disables a site
      description: Disables a site by ID. Your agency is not billed for disabled sites, and disabled sites are automatically deleted after 60 days.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to disable.
          schema:
            type: string
      responses:
        '200':
          description: The disabled site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}/enable:
    put:
      summary: Enables a site
      description: Enables a site by ID.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to enable.
          schema:
            type: string
      responses:
        '200':
          description: The enabled site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}/publish:
    put:
      summary: Publishes a site
      description: Publishes the given site.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to publish.
          schema:
            type: string
      responses:
        '200':
          description: The published site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}/unpublish:
    put:
      summary: Unpublishes a site
      description: Unpublishes the given site.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to unpublish.
          schema:
            type: string
      responses:
        '200':
          description: The unpublished site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}/send-login-link:
    post:
      summary: Sends a login link
      description: Sends a login link to the site's email address.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site.
          schema:
            type: string
      responses:
        '204':
          description: Login link sent successfully. Returns an empty array.
          content:
            application/json:
              schema:
                type: array
                items: {}
  /agencies/{agencyId}/plans:
    get:
      summary: Lists available plans
      description: Returns a list of available plans for the agency.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      responses:
        '200':
          description: A list of available plans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  available_plans:
                    type: array
                    items:
                      type: string
  /agencies/{agencyId}/components:
    get:
      summary: Lists components
      description: Returns all of the agency's custom components.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      responses:
        '200':
          description: A list of components.
          content:
            application/json:
              schema:
                type: object
                properties:
                  components:
                    type: array
                    items:
                      $ref: '#/components/schemas/Component'
    post:
      summary: Creates a component
      description: >-
        Creates a custom component that clients can add to their pages from the
        editor. Reference variables in `html` as `{{ site.agency.<key> }}`.
        `{{ site.id }}`, `{{ site.domain }}` and `{{ site.title }}` are also
        available. When `slug` is omitted one is generated from `name`.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - html
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Name shown to clients in the editor.
                slug:
                  type: string
                  maxLength: 255
                  description: >-
                    Unique identifier within the agency (letters, numbers, dashes,
                    underscores). Generated from `name` when omitted. Cannot be
                    changed later.
                html:
                  type: string
                  maxLength: 65535
                  description: The HTML inserted on the page.
                icon:
                  $ref: '#/components/schemas/ComponentIcon'
                is_enabled:
                  type: boolean
                  default: true
                  description: Whether the component is offered in the editor.
                is_test_mode_only:
                  type: boolean
                  default: false
                  description: Only offer the component on sites in Test Mode.
      responses:
        '201':
          description: The created component.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
        '422':
          description: Validation failed, or the slug is already in use.
  /agencies/{agencyId}/components/{componentId}:
    get:
      summary: Retrieves a component
      description: Returns a single component by ID.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: componentId
          in: path
          required: true
          description: ID of the component.
          schema:
            type: integer
      responses:
        '200':
          description: A single component.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
    patch:
      summary: Updates a component
      description: Updates any of the supplied fields. The slug cannot be changed.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: componentId
          in: path
          required: true
          description: ID of the component.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                html:
                  type: string
                  maxLength: 65535
                icon:
                  $ref: '#/components/schemas/ComponentIcon'
                is_enabled:
                  type: boolean
                is_test_mode_only:
                  type: boolean
      responses:
        '200':
          description: The updated component.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
    delete:
      summary: Deletes a component
      description: >-
        Deletes the component and its variables. Existing placements on client
        pages stop rendering.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: componentId
          in: path
          required: true
          description: ID of the component.
          schema:
            type: integer
      responses:
        '200':
          description: Deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
  /agencies/{agencyId}/components/variable-keys:
    get:
      summary: Lists variables
      description: Returns every variable defined across the agency's components.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      responses:
        '200':
          description: A list of variables.
          content:
            application/json:
              schema:
                type: object
                properties:
                  variable_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/VariableKey'
    post:
      summary: Creates a variable
      description: >-
        Defines a typed variable on a component. Its value is resolved from the
        site's value, then from `default_value`.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - component
                - key
                - label
                - type
              properties:
                component:
                  type: string
                  description: Slug of the component the variable belongs to.
                key:
                  type: string
                  pattern: '^[a-z][a-z0-9_]*$'
                  description: >-
                    Referenced in HTML as `{{ site.agency.<key> }}`. Unique across
                    the agency. Cannot be changed later.
                label:
                  type: string
                  maxLength: 255
                  description: Human-readable name shown wherever the value is edited.
                type:
                  $ref: '#/components/schemas/VariableType'
                options:
                  type: array
                  description: Allowed values. Required when `type` is `select`.
                  items:
                    type: string
                    maxLength: 255
                default_value:
                  type: string
                  nullable: true
                  maxLength: 2000
      responses:
        '201':
          description: The created variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableKey'
        '422':
          description: Validation failed, unknown component, or the key already exists.
  /agencies/{agencyId}/components/variable-keys/{variableKeyId}:
    patch:
      summary: Updates a variable
      description: Updates any of the supplied fields. The key cannot be changed.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: variableKeyId
          in: path
          required: true
          description: ID of the variable.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                component:
                  type: string
                  description: Slug of the component to move the variable to.
                label:
                  type: string
                  maxLength: 255
                type:
                  $ref: '#/components/schemas/VariableType'
                options:
                  type: array
                  nullable: true
                  items:
                    type: string
                    maxLength: 255
                default_value:
                  type: string
                  nullable: true
                  maxLength: 2000
      responses:
        '200':
          description: The updated variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableKey'
        '422':
          description: Validation failed or unknown component.
    delete:
      summary: Deletes a variable
      description: Deletes the variable and every per-site value stored for it.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: variableKeyId
          in: path
          required: true
          description: ID of the variable.
          schema:
            type: integer
      responses:
        '200':
          description: Deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
  /agencies/{agencyId}/sites/{siteId}/components/variables:
    get:
      summary: Retrieves a site's variable values
      description: >-
        Returns the resolved value of every variable for the site: the site's
        own value when one is set, otherwise the variable's default. Values are
        cast to the variable's type.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site.
          schema:
            type: string
      responses:
        '200':
          description: Resolved variable values keyed by variable key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteVariables'
    put:
      summary: Sets a site's variable values
      description: >-
        Sets site-level values for one or more variables. Keys not included are
        left unchanged. Send `null` or an empty string to clear a value so the
        default applies again. Values are validated against each variable's
        type.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Variable keys mapped to their new values.
              additionalProperties:
                oneOf:
                  - type: string
                  - type: number
                  - type: boolean
                nullable: true
              example:
                station_id: WXYZ
                autoplay: true
                theme: null
      responses:
        '200':
          description: The site's resolved variable values after the update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteVariables'
        '422':
          description: Unknown variable key or a value failed type validation.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Component:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the component.
        name:
          type: string
          description: Name shown to clients in the editor.
          example: Radio Player
        slug:
          type: string
          description: Unique identifier within the agency, used to reference the component.
          example: radio-player
        html:
          type: string
          description: The HTML inserted on the page. May reference variables as `{{ site.agency.<key> }}`.
          example: '<iframe src="https://player.example.com/{{ site.agency.station_id }}"></iframe>'
        icon:
          $ref: '#/components/schemas/ComponentIcon'
        is_enabled:
          type: boolean
          description: Whether the component is offered in the editor.
        is_test_mode_only:
          type: boolean
          description: Whether the component is only offered on sites in Test Mode.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ComponentIcon:
      type: string
      nullable: true
      description: Icon shown next to the component in the editor.
      enum:
        - heroicon-s-code-bracket
        - heroicon-s-play-circle
        - heroicon-s-musical-note
        - heroicon-s-film
        - heroicon-s-photo
        - heroicon-s-megaphone
        - heroicon-s-chat-bubble-left-right
        - heroicon-s-calendar-days
        - heroicon-s-map-pin
        - heroicon-s-star
        - heroicon-s-globe-alt
        - heroicon-s-envelope
    VariableType:
      type: string
      enum:
        - text
        - number
        - boolean
        - select
        - url
    VariableKey:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the variable.
        component:
          type: string
          description: Slug of the component the variable belongs to.
          example: radio-player
        key:
          type: string
          description: Referenced in component HTML as `{{ site.agency.<key> }}`.
          example: station_id
        label:
          type: string
          example: Station ID
        type:
          $ref: '#/components/schemas/VariableType'
        options:
          type: array
          nullable: true
          description: Allowed values for `select` variables.
          items:
            type: string
        default_value:
          type: string
          nullable: true
          description: Used when no site value is set.
        sort_order:
          type: integer
    SiteVariables:
      type: object
      properties:
        variables:
          type: object
          description: Resolved values keyed by variable key, cast to each variable's type.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
            nullable: true
          example:
            station_id: WXYZ
            autoplay: true
    Deleted:
      type: object
      properties:
        deleted:
          type: boolean
          example: true
    Site:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the site.
        user_id:
          type: integer
          description: The Articulation user ID.
        email:
          type: string
          description: Email address associated with the site.
        plan:
          type: string
          description: The plan the site is subscribed to.
          example: Ultimate
        is_published:
          type: boolean
          description: Whether the site is published.
        is_disabled:
          type: boolean
          description: Whether the site is disabled.
        last_published:
          type: string
          format: date-time
          description: The last time the site was published.
        domain:
          type: string
          description: The domain of the site.
          example: example.com
        subdomain:
          type: string
          description: The subdomain of the site.
          example: example.articulation.website
        login_url:
          type: string
          description: The login URL for the site.
        domain_redirects:
          type: array
          description: Optional list of domains that redirect to this site.
          items:
            type: string
            description: Domain that redirects to the site.
    Agency:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Agency.
